<div class="containerOfContainer">
    <div></div>
    <div class="container">
        <div class="row">
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
        </div>
        <div class="row">
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
        </div>
        <div class="row">
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
            <div><p class="CrossI"></p><p class="CrossII"></p></div>
        </div>
    </div>
    <div class="buttonsList">
        <button class="button" onclick="reset()">Start Again!</button>
        <button class="button">Score</button>
    </div>
</div>

<div id="freezeGame"></div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p id="modalText"></p>
    </div>
    
</div>

<script src="js/Mechanics.js"></script>
